{% extends "layout.html" %}

{% block content %}

    <h1>Project Onboarding</h1>
    <link rel="stylesheet" href="/onboarding_page_version01/static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    
    <form id="filter-form">
        <label for="banker">*Banker:</label>
        <select id="banker" name="banker_id" onchange="fetchClients()">
            <option value="">Select Banker</option>
            <!-- options de banker js -->
        </select>

        <label for="client">Client:</label>
        <select id="client" name="client_id" disabled>
            <option value="">Select Client</option>
            <!-- options de client js -->
        </select>

        <button type="button" onclick="getStatus()">Get Status</button>
    </form>

    <h2>Status Form</h2>
    <table id="status-table">
        <thead>
            <tr>
                <th>Form</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- status dos form -->
        </tbody>
    </table>

    <script src="/static/js/scripts.js"></script>
{% endblock %}